    /* Styles */
html {
  font-size: 10px;

}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", "Georgia", serif;
}

h1 {
  font-size: 6rem;
  font-weight: 500;
  padding-bottom: 2rem;
  line-height: 5.5rem;
  padding-bottom: 2.4rem;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  padding-bottom: 2.4rem;
  line-height: 4.5rem;
}

.container{
  display: flex;
  margin: 0;
}


    /* Header */

.headerbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  border-bottom: 0rem dotted #7d2d91;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin-left: 2.4rem;
}

.logo img {
  height: 5.5rem;
}

.colmar {
  font-size: 2.5rem;
  font-family: 'Roboto';
  font-weight: 700;
  color: #7d2d91;
}

.academy {
  color: #000;
  font-size: 2.5rem;
  font-family: 'Roboto';
  font-weight: 400;
}

.navigation {
  display: inline-flex;
}

.navigation span {
  font-family: 'Roboto Slab', serif;
  margin: 1.6rem;
}

.navigation a {
  text-decoration: none;
  color: #000;
  font-size: 1.7rem;
  font-weight: 500;
}

.navigation a:hover {
  color: #7d2d91;
}

.logo-mobile {
  display: none;
}

@media only screen and (max-width: 768px ) {
.logo-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 6.4rem;
}

.headerbar {
  display: none;
}
}


    /* Banner */

.mainbanner {
  background: linear-gradient(to right, #7d2d91, #9e2d91);
}

.mainbanner h1 {
  color: white;
}

.mainbanner img {
  margin: 32px 50px 32px 24px;
  max-width: 60%;
}

.mainbanner p {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
}

.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.btn {
  background-color: #6cbe39;
  color: #fff;
  width: 23rem;
  border-radius: 0.3rem;
  text-align: center;
  padding: 0.8rem 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 4rem;
  border-bottom: 0.5rem solid green;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  transition: ease-out 400ms;
  border-bottom: 0.5rem solid #efefef;
}

    /* The Academy information */
.information {
  display: flex;
  flex-direction: row;
}

.head-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 32px 24px;
}

.head-info #function {
  font-weight: 600;
  color: #706f6f;
}

.head-info img {
  width: 100%;
  padding-bottom: 3.2rem;
}


    /* More information */

.academy-information {
  display: flex;
  flex-direction: row;
}

.main-head {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 3.2rem 2.4rem;
}

.main-head span {
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: grey;
  margin: 0;
  padding-bottom: 3.2rem;
}

.main-head img {
  width: 100%;
  padding-bottom: 3.2rem;
}


    /* More information */

.other-info {
  flex-direction: column;
  margin: 32px 0;
  width: 40%;
  display: flex;
  border-left: 0.2rem dotted #7d2d91;
}

.info-box {
  display: flex;
  border-bottom: 0.1rem solid #efefef;
}

.info-img {
  padding: 1.6rem;
}

.info-img img {
  width: 15rem;
}

.info-box:nth-child(3n+0) {
  background-color: #efefef;
}

.textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textbox h3 {
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 0.8rem;
}

.textbox span {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 0.8rem;
  color: #000;
}

.more-link {
  color: #000;
  font-weight: 500;
}

.more-link:hover{
  color: #7d2d91;
  font-weight: 500;
  text-decoration: underline;
}


    /* Courses */

.courses {
  background: linear-gradient(to right, #9e2d91, #7d2d91);
}

#course-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  font-size: 4rem;
  color: white;
  text-align: center;
  padding: 3.2rem;
  margin: 0px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  display: flex;
  flex-direction: column;
  width: 28%;
  margin-right: 3.2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.course-img img {
  width: 100%;
}

.course span {
  display: block;
}

.course-text{
  margin: 1.6rem;
  color: #000;
}

.course-text h2 {
  font-size: 2.5rem;
}

.course-text h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
}

.course-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}
